@use '../utils/colors'
@use '../utils/fonts'
@use '../utils/media'

.main-page-collections
  padding-right: 10%
  padding-left: 10%
  margin-top: 5em
  @include media.screen-md
    padding-right: 8%
    padding-left: 8%
    margin-top: 6em
  .title
    font-size: 10rem
    text-align: center
    @include media.screen-md
      font-size: 6rem
  .collections-list
    display: flex
    flex-wrap: wrap
    gap: 3.333%
    margin-top: 15em
    .card-collection
      width: 31%
      margin-bottom: 4em
    @include media.screen-lg
      gap: 4%
      .card-collection
        width: 48%
    @include media.screen-sm
      gap: 0%
      margin-top: 10em
      .card-collection
        width: 100%
        height: 50vh
        .swiper-slide-content
          padding: 5vh 5vh
          width: calc(100% - 10vh)
          height: calc(100% - 10vh)
          .swiper-slide-title
            font-size: 4.4rem
          .swiper-slide-text
            font-size: 2.6rem

.main-page-collection
  padding-left: 0px
  padding-right: 0px
  @media (min-width: 768px)
    padding-top: 0px

  .header-collection
    width: 100%
    position: relative
    .image-collection
      width: 100%
      max-height: 98vh
      object-fit: cover

    .header-content
      position: absolute
      bottom: 0
      width: 94%
      display: flex
      justify-content: space-between
      padding: 6em 3%
      background: rgb(2,0,36)
      background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(10,9,9,1) 75%)
      .title
        font-size: 3.8rem
        font-weight: 500
      .illustrator
        display: flex
        align-items: center
        font-size: 2rem
        .icon
          height: 2rem
          margin-right: 1rem
        a
          color: colors.$light
      @include media.screen-md
        position: relative
        flex-direction: column
        .title
          font-size: 3.8rem
          text-align: center
        .illustrator
          justify-content: center
          font-size: 2rem
          .icon
            height: 2rem

  .list-cortos
    display: flex
    flex-wrap: wrap
    padding: 3%
    gap: 2%
    .card-popular
      width: 32%
      margin-bottom: 2em
    @include media.screen-md
      gap: 4%
      .card-popular
        width: 48%
