@use "../utils/colors";
@use "../utils/fonts";
@use "../utils/media";

.main-page-difusion {
  padding: 90px 0% 0px 0%;
  .header-page {
    background-color: #15c570;
    padding: 2em 3%;
    height: calc(100vh - 4em);
    width: calc(100vw - 6%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media.screen-md {
      height: auto;
    }
    .header-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;
      span {
        font-size: 2rem;
        color: colors.$dark;
        font-family: fonts.$tertiary;
      }
      @include media.screen-md {
        font-size: 1.5rem;
      }
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      .figure {
        @include media.screen-md {
          display: none;
        }
        img {
          width: 18vw;
          transition: 200ms;
          position: relative;
          z-index: 0;
        }
        &:hover {
          img {
            transform: scale(1.03);
            z-index: 5;
          }
        }
      }
      .header-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 1;
        h1 {
          text-align: center;
          font-size: 2.4rem;
          color: colors.$dark;
          font-family: fonts.$tertiary;
          text-transform: uppercase;
          font-weight: 500;
          padding: 1rem 2rem;
          border: 4px solid colors.$dark;
          border-radius: 4rem;
          margin-bottom: 3rem;
          @include media.screen-md {
            font-size: 2rem;
            margin-top: 3em;
          }
        }
        p {
          font-family: fonts.$primary;
          font-size: 3.2rem;
          color: colors.$dark;
          text-align: center;
          font-weight: 600;
          @include media.screen-md {
            font-size: 2.6rem;
          }
        }
        .header-info-image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 12vw;
          margin: 2em 0;
          img {
            height: 100%;
            position: absolute;
          }
          @include media.screen-md {
            height: 16vw;
          }
        }
        .arrow {
          margin-top: 6em;
          width: 3vw;
          @include media.screen-md {
            margin-top: 4em;
            width: 4vw;
          }
        }
        .manual {
          position: absolute;
          bottom: 0;
          right: -10%;
          transition: 200ms;
          img {
            width: 6vw;
          }
          &:hover {
            transform: scale(1.03);
            z-index: 5;
          }
          @include media.screen-md {
            right: 1%;
            img {
              width: 12vw;
            }
          }
        }
      }
    }
    .nav-link-container {
      display: flex;
      justify-content: center;
      @include media.screen-md {
        margin-top: 3em;
      }
      .nav-link {
        display: flex;
        gap: 2rem;
        background-color: colors.$dark;
        padding: 1rem 1.2rem;
        align-items: center;
        border: 3px solid colors.$light;
        border-radius: 5rem;
        div {
          display: flex;
          gap: 2rem;
        }
        @include media.screen-md {
          border-radius: 3rem;
          div {
            flex-direction: column;
          }
        }
        img {
          width: 3vw;
          @include media.screen-md {
            width: 8vw;
          }
        }
        a {
          padding: 0.5rem;
          color: colors.$light;
          font-family: fonts.$tertiary;
          width: 18rem;
          height: 4rem;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5rem;
          border: 3px solid colors.$light;
          transition: 200ms;
          font-size: 2rem;
          &:hover {
            background-color: colors.$light;
            color: colors.$dark;
          }
          @include media.screen-md {
            font-size: 1.6rem;
            width: 15rem;
          }
        }
      }
    }
  }
  .content-paddin {
    padding: 0 6% 20px 6%;
    @include media.screen-md {
      padding: 0 5% 20px 5%;
    }
  }
  .section-basic {
    h2 {
      font-size: 4rem;
      text-align: center;
      text-transform: uppercase;
      margin: 90px 0;
      @include media.screen-md {
        margin: 40px 0;
      }
    }
    h3 {
      font-size: 2.4rem;
      font-family: fonts.$tertiary;
      color: #a5ffb3;
      margin-bottom: 3rem;
      font-weight: 500;
      @include media.screen-md {
        // margin-top: 2em
      }
    }
    h4 {
      font-size: 4rem;
      color: colors.$light;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 90px;
      @include media.screen-md {
        margin-bottom: 40px;
      }
    }
    a {
      color: #a5ffb3;
    }
    p {
      font-size: 2rem;
    }
    .link-go {
      color: colors.$light;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      img {
        margin-left: 1rem;
        width: 1.5rem;
      }
    }
    .link-go-outline {
      color: #a5ffb3;
      padding: 1.5rem 8rem;
      border: 3px solid #a5ffb3;
      border-radius: 5rem;
    }
    .section-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media.screen-md {
        flex-direction: column;
        gap: 4em;
      }
    }
    .section-flex-difusion {
    }
    .section-col {
      width: 40%;
      @include media.screen-md {
        width: 100%;
      }
    }
    .section-meta {
      width: 43%;
      padding: 5.3rem 4.6rem;
      background-color: #ffffff08;
      border-radius: 2rem;
      @include media.screen-md {
        width: 80%;
        margin-bottom: 4em;
      }
      p {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        line-height: 180%;
      }
    }
  }
  .section-text {
    padding: 0px 6%;
  }
  .section-help {
    @include media.screen-md {
      margin-top: 10em;
    }
    .section-col {
      border-radius: 2rem;
      background-color: #ffffff08;
      width: 42%;
      padding: 4rem;
      border: 1px solid rgba(255, 255, 255, 0.1);
      height: 36em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      > img {
        height: 6vw;
      }
      h5 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.6rem;
        color: #cdd0d8;
        margin: 1em 0;
      }
      @include media.screen-md {
        width: 80%;
        > img {
          height: 15vw;
        }
      }
    }
  }
  .section-steps {
    border-top: 1px solid #ffffff33;
    padding-top: 5em;
    h3 {
      text-align: center;
    }
    .section-flex {
      gap: 2.5%;
      align-items: stretch;
      margin-top: 5em;
      .section-col {
        background-color: #ffffff05;
        border-radius: 2rem;
        padding: 3em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media.screen-md {
          width: auto;
          margin-bottom: 3em;
        }
        span {
          height: 1.8em;
          width: 1.8em;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3.6rem;
          color: #a5ffb3;
          border: 1px solid #a5ffb3;
        }
        h5 {
          font-size: 2.4rem;
          text-transform: uppercase;
          color: #a5ffb3;
          margin-top: 3rem;
          margin-bottom: 4.8rem;
        }
        p {
          font-size: 1.5rem;
          margin-bottom: 4rem;
          color: #cdd0d8;
          @include media.screen-md {
            font-size: 1.6rem;
          }
        }
        a {
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .section-space {
    border-top: 1px solid #ffffff33;
    padding-top: 90px;
    @include media.screen-md {
      padding-top: 40px;
    }
    .section-flex {
      justify-content: space-between;
      .section-content {
        width: 55%;
        h2 {
          font-size: 6.4rem;
          text-align: left;
          margin-bottom: 3rem;
          margin-top: 2rem;
        }
        p {
          margin-bottom: 8rem;
        }
        @include media.screen-md {
          width: 100%;
          h2 {
            font-size: 5rem;
          }
        }
      }
      .section-image {
        width: 28%;
        padding: 0 5%;
        @include media.screen-md {
          display: none;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .section-what {
    border-top: 1px solid #ffffff33;
    padding-top: 90px;
    margin-top: 90px;
    @include media.screen-md {
      padding-top: 40px;
      margin-top: 40px;
    }
    .section-flex {
      align-items: stretch;
      .section-content {
        width: 40%;
        @include media.screen-md {
          width: 100%;
        }
        h2 {
          font-size: 6.4rem;
          text-align: left;
          margin-bottom: 3rem;
          margin-top: 2rem;
          @include media.screen-md {
            font-size: 5rem;
          }
        }
        p {
          font-size: 1.8rem;
        }
      }
      .section-items {
        width: 50%;
        gap: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media.screen-md {
          width: 100%;
        }
        .item {
          padding: 2em 5em;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #ffffff08;
          border-radius: 1rem;
          img {
            width: 8rem;
          }
          span {
            color: #a5ffb3;
            font-size: 2.3rem;
            font-weight: bold;
            margin-left: 2em;
          }
          @include media.screen-md {
            img {
              width: 5rem;
            }
            span {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
  .section-how-start {
    @include media.screen-md {
      margin-top: 90px;
    }
    .color-professional {
      color: #a5ffff;
    }
    .color-informal {
      color: #f9d485;
    }
    .color-enthusiastic {
      color: #fda5ff;
    }
    .color-informative {
      color: #a5ffb9;
    }
    .color-fun {
      color: #ffa5a5;
    }

    .background-professional {
      background-color: #a5ffff08;
    }
    .background-informal {
      background-color: #f9d48508;
    }
    .background-enthusiastic {
      background-color: #fda5ff;
    }
    .background-informative {
      background-color: #a5ffb308;
    }
    .background-fun {
      background-color: #ffa5a5;
    }
    h3 {
      text-align: center;
    }
    h2 {
      font-size: 6.4rem;
      @include media.screen-md {
        font-size: 4rem;
        hr {
          display: none;
        }
      }
    }
    h5 {
      font-size: 2.4rem;
      color: #ffffff66;
      margin-bottom: 4rem;
    }
    .messages-types {
      display: flex;
      justify-content: center;
      gap: 4%;
      margin-bottom: 9rem;
      @include media.screen-md {
        flex-wrap: wrap;
      }
      span {
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .message-category {
      background-color: #ffffff08;
      padding: 2em 3em;
      border-radius: 1rem;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: 200ms;
      &:hover {
        background-color: #ffffff1b;
      }
      h6 {
        font-size: 2rem;
      }
      .messages-list {
        padding-left: 3%;
        max-height: 0px;
        margin-top: 0 rem;
        overflow: hidden;
        transition: 400ms all;
        @include media.screen-md {
          padding-left: 0%;
        }
        .message-item {
          padding: 2em 3em;
          display: flex;
          align-items: flex-start;
          margin-bottom: 2rem;
          border-radius: 1rem;
          p {
            font-size: 1.8rem;
            font-weight: 400;
            @include media.screen-md {
              font-size: 1.5rem;
            }
          }
          img {
            margin-left: 5em;
            cursor: pointer;
            width: 5vw;
            @include media.screen-md {
              margin-left: 3em;
              width: 4vw;
            }
          }
        }
      }

      &.open {
        cursor: auto;
        &:hover {
          background-color: #ffffff08;
        }
        .messages-list {
          margin-top: 2.6rem;
          max-height: 100vh;
        }
      }
    }
  }
  .section-documentos {
    border-top: 1px solid #ffffff33;
    padding-top: 6em;
    h2 {
      text-align: left;
      font-size: 6.4rem;
      margin-top: 1rem;
    }
    .flex-documentos {
      gap: 2%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .document-card {
        width: 20%;
        background-color: #ffffff0d;
        border-radius: 20px;
        text-decoration: none;
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 200ms;
        margin-bottom: 2em;
        @include media.screen-lg {
          width: 31%;
          height: 22vw;
        }
        @include media.screen-md {
          width: 48%;
          height: 30vw;
        }
        p {
          font-size: 2rem;
          width: 80%;
          text-align: center;
          font-weight: 600;
          color: colors.$light;
          transition: all 200ms;
        }
        &:hover {
          background-color: #a5ffb3;
          p {
            color: colors.$dark;
          }
        }
      }
    }
  }
}
