@use "../utils/colors";
@use "../utils/fonts";
@use "../utils/media";

.main-page-espacios {
  padding: 0em 0%;

  .background-espacios {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      width: 100%;
    }
    .content {
      text-align: center;
      position: absolute;
      h1 {
        font-size: 9.6rem;
      }
      p {
        font-size: 2rem;
      }
      .btn-contain {
        margin-top: 4em;
      }
    }
    @include media.screen-md {
      height: 50vh;
      img {
        height: 100%;
        object-fit: cover;
      }
      .content {
        width: 80%;
        br {
          display: none;
        }
        h1 {
          font-size: 5rem;
        }
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
  .countries-list {
    display: flex;
    justify-content: center;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: colors.$light;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0 1.1rem;
      padding-bottom: 0.5rem;
      &.selected {
        border-bottom: 1px solid colors.$light;
      }
    }
    @include media.screen-md {
      padding: 0em 4% 0 4%;
      flex-wrap: wrap;
      a {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  .places-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    margin-top: 6em;
    padding: 0 4%;
    margin-bottom: 6em;
    .place-item {
      width: 22%;
      position: relative;
      margin-bottom: 5em;
      @include media.screen-lg {
        width: 30%;
      }
      @include media.screen-md {
        width: 47%;
      }
      .place-image {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          transition: 200ms;
          margin-bottom: -2%;
        }
      }
      &:hover {
        .place-image {
          img {
            transform: scale(1.05);
          }
        }
      }

      .beagle {
        position: absolute;
        top: 1em;
        left: 1em;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 1.4rem;
        padding: 0.4rem 1.7rem;
        border-radius: 3rem;
        font-weight: 600;
      }
      .content {
        padding: 0 3%;
        h2 {
          font-size: 2rem;
          text-transform: uppercase;
          color: colors.$light;
          margin-top: 1.8rem;
        }
        h3 {
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 600;
        }
        p {
          color: rgba(255, 255, 255, 0.6);
          font-size: 1.4rem;
          margin-top: 0.3rem;
          margin-bottom: 1.2rem;
        }
        a {
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 600;
        }
        .place-more {
          text-decoration: none;
          text-transform: uppercase;
          color: #eaa410;
          font-size: 1.4rem;
          font-weight: 600;
          cursor: pointer;
        }
        .content-show {
          max-height: 0;
          margin-bottom: 0em;
          overflow: hidden;
          transition: 250ms ease-out;
          &.open {
            max-height: 20em;
            margin-bottom: 2em;
          }
        }
      }
    }
  }
  .frequent-questions {
    background-color: #ffffff08;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9em 0;
    width: 100%;
    h2 {
      color: colors.$light;
      font-size: 6.4rem;
      text-align: center;
    }
    @include media.screen-md {
      h2 {
        font-size: 4rem;
      }
    }
    .questions-list {
      width: auto;
      margin-top: 5.2em;
      .questions-item {
        margin-bottom: 4rem;
        cursor: pointer;
        header {
          display: flex;
          img {
            margin-right: 2rem;
            width: 2.7rem;
          }
          h3 {
            color: colors.$light;
            font-size: 3em;
          }
        }
        .questions-content {
          width: 60vw;
          max-height: 0;
          overflow: hidden;
          font-size: 2rem;
          margin-top: 0em;
          color: rgba(255, 255, 255, 0.6);
          padding-left: 5rem;
          transition: 250ms ease-out;
          a {
            color: #15c570 !important;
          }
        }

        &.open {
          .questions-content {
            max-height: 15em;
            margin-top: 2em;
          }
        }
        @include media.screen-md {
          margin-bottom: 3rem;
          header {
            img {
              width: 2rem;
            }
            h3 {
              font-size: 2.5em;
            }
          }
          .questions-content {
            font-size: 1.7rem;
            padding-left: 4rem;
            width: 90%;
          }
          &.open {
            .questions-content {
              max-height: 20em;
              margin-top: 1em;
            }
          }
        }
      }
    }
  }
}
