@use "../utils/colors";
@use "../utils/fonts";
@use "../utils/media";

.section-basic {
  margin-bottom: 8vh;
  @include media.screen-md {
    margin-bottom: 4vh;
  }
  .section-basic-header {
    display: flex;
    margin-bottom: 4vh;
    align-items: center;
    justify-content: space-between;
    @include media.screen-md {
      margin-bottom: 2vh;
    }
    .section-basic-title {
      font-size: 3rem;
      @include media.screen-md {
        font-size: 2.7rem;
      }
    }
    .section-basic-action {
      font-size: 2rem;
      color: colors.$gray-light;
      text-decoration: none;
      transition: all 0.2s;
      @include media.screen-md {
        font-size: 1.8rem;
      }
      &:hover {
        color: colors.$primary;
      }
    }
    .icon {
      height: 3rem;
      margin-right: 2rem;
    }
  }
  .section-basic-content {
    margin: 0;
  }
}
.swiper-contain {
  position: relative;
  margin-bottom: 14vh;
  @include media.screen-md {
    margin-bottom: 6vh;
  }
  .swiper-home {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    @include media.screen-md {
      border-radius: 20px;
    }
    .swiper-wrapper {
      // Estilos del item de swiper
      .swiper-slide {
        display: inline;
        height: 100%;
        height: 32vw;
        position: relative;
        @include media.screen-md {
          height: 50vw;
        }
        // Imagen del swiper-slide
        .swiper-slide-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          position: relative;
          z-index: 1;
        }
        // Contenido del swiper-slide / hoverable
        .swiper-slide-content {
          position: absolute;
          z-index: 5;
          bottom: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: #000000b2;
          height: 0%;
          width: 100%;
          overflow: hidden;
          transition: all 300ms;
          opacity: 0;

          .swiper-slide-title,
          .swiper-slide-text {
            width: 60%;
            text-align: center;
          }
          .swiper-slide-title,
          .swiper-slide-text,
          .swiper-slide-button {
            opacity: 0;
          }
          .swiper-slide-title {
            font-size: 7rem;
            font-weight: 700;
          }
          .swiper-slide-text {
            font-size: 2rem;
            font-weight: 400;
            color: #ffffffcc;
            margin: 3rem 0px;
            @include media.screen-md {
              width: 70%;
            }
          }
          @include media.screen-md {
            .swiper-slide-title,
            .swiper-slide-text {
              width: 70%;
            }
            .swiper-slide-title {
              font-size: 4.2rem;
            }
            .swiper-slide-text {
              font-size: 1.6rem;
            }
          }
        }
        // Animacion hover not-hover del contenido
        &:not(:hover) {
          .swiper-slide-title,
          .swiper-slide-text,
          .swiper-slide-button {
            transition: all 300ms;
          }
        }
        &:hover {
          .swiper-slide-content {
            height: 100%;
            opacity: 1;
            .swiper-slide-title,
            .swiper-slide-text,
            .swiper-slide-button {
              opacity: 1;
              transition: all 300ms 300ms;
            }
          }
        }
      }
    }
  }
  // Estilos del paginador del swiper
  .swiper-pagination {
    bottom: -8vh;
    .swiper-pagination-bullet {
      height: 2vh;
      width: 2vh;
      background-color: colors.$light;
      margin: 0 10px;
    }
    @include media.screen-md {
      bottom: -4vh;
      .swiper-pagination-bullet {
        height: 2vh;
        width: 2vh;
        margin: 5px;
      }
    }
  }
}
// Estilos de los botones de accion prev/next del swiper
.swiper-action-basic.swiper-next,
.swiper-action-basic.swiper-prev {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4vw;
  width: 4vw;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  user-select: none;
  img {
    height: 50%;
  }
  @include media.screen-md {
    height: 10vw;
    width: 10vw;
  }
}
.swiper-action-basic.swiper-prev {
  left: 2%;
  img {
    margin-right: 5%;
  }
}
.swiper-action-basic.swiper-next {
  right: 2%;
  img {
    margin-left: 5%;
  }
}
// Estado desabilitado del boton de accion
.swiper-action-basic.swiper-button-disabled {
  opacity: 0.8;
  cursor: auto;
  img {
    opacity: 0.5;
  }
}
.swiper-action-basic {
  transition: all 200ms;
  &:hover {
    background-color: #ffffffa1;
  }
}

.swiper-action-popular {
  top: 6.5vw !important;
  bottom: auto !important;
}
.explore-stories-contain {
  .explore-stories {
    display: flex;
    flex-wrap: wrap;
    gap: 20;
    .explore-card {
      width: 24%;
      height: 12.6vw;
      margin: 1rem 0.5%;
      border-radius: 10px;
      overflow: hidden;
      .explore-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s;
      }
      @include media.screen-lg {
        width: 31%;
        height: 16vw;
        margin: 1rem 1%;
      }
      @include media.screen-md {
        width: 100%;
        height: 50vw;
      }
      &:hover {
        .explore-image {
          transform: scale(1.1);
        }
      }
    }
  }

  .section-basic-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }
}
