@use '../utils/colors'
@use '../utils/fonts'
@use '../utils/media'
  
// Styles of navigation
#nav-page
  .nav-contain
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px 3%
    .nav-logo
      display: flex
      align-items: center 
      img
        height: 70px
        margin-right: 10px
      span
        font-size: 50px
        font-weight: 800
        font-family: fonts.$primary
    .nav-links
      display: flex
      align-items: center
      justify-content: flex-end
      list-style: none
      width: 100%
      .link-item
        margin-left: 5%
        display: flex
        flex-direction: column
        align-items: center
        a
          font-weight: 500
          text-decoration: none
          font-size: 20px
          color: colors.$light
          font-family: fonts.$primary
          transition: all .2s
          white-space: nowrap
        span
          height: 1px
          width: 0%
          background: colors.$primary 
          transition: all .2s
        &:hover
          a
            color: colors.$primary
          span
            width: 100%
        

