@use '../utils/colors'
@use '../utils/fonts'
@use '../utils/media'

.section-basic
  margin-bottom: 8vh
  .section-basic-header
    display: flex
    margin-bottom: 4vh
    align-items: center
    justify-content: space-between
    .section-basic-title
      font-size: 3.3rem
    .section-basic-action
      font-size: 2rem 
      color: colors.$gray-light
      text-decoration: none
      transition: all .2s
      &:hover
        color: colors.$primary
    .icon
      height: 3rem
      margin-right: 2rem
  .section-basic-content
    margin: 0

.swiper-contain
  position: relative
  margin-bottom: 14vh
  .swiper-home
    position: relative
    border-radius: 30px
    overflow: hidden
    .swiper-wrapper

      // Estilos del item de swiper
      .swiper-slide
        display: inline
        height: 100%
        height: 72vh
        position: relative

        // Imagen del swiper-slide
        .swiper-slide-image
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center
          position: relative
          z-index: 1

        // Contenido del swiper-slide / hoverable
        .swiper-slide-content
          position: absolute
          z-index: 5
          bottom: 0
          display: flex
          flex-direction: column
          align-items: center
          justify-content: center
          background-color: #000000B2
          height: 0%
          width: 100%
          overflow: hidden
          transition: all 300ms
          opacity: 0

          .swiper-slide-title, .swiper-slide-text
            width: 60%
            text-align: center
          .swiper-slide-title, .swiper-slide-text, .swiper-slide-button
            opacity: 0

          .swiper-slide-title
            font-size: 7rem
            font-weight: 700

          .swiper-slide-text
            font-size: 2rem
            font-weight: 400
            color: #FFFFFFCC
            margin: 3rem 0px

        // Animacion hover not-hover del contenido
        &:not(:hover)
          .swiper-slide-title, .swiper-slide-text, .swiper-slide-button
            transition: all 300ms
        &:hover
          .swiper-slide-content
            height: 100%
            opacity: 1
            .swiper-slide-title, .swiper-slide-text, .swiper-slide-button
              opacity: 1
              transition: all 300ms 300ms

  // Estilos del paginador del swiper
  .swiper-pagination
    bottom: -8vh
    .swiper-pagination-bullet
      height: 3vh
      width: 3vh
      background-color: colors.$light
      margin: 0 10px

// Estilos de los botones de accion prev/next del swiper
.swiper-action-basic.swiper-next, .swiper-action-basic.swiper-prev
  position: absolute
  z-index: 2
  top: 0
  bottom: 0
  margin: auto
  height: 4vw
  width: 4vw
  border-radius: 100%
  display: flex
  align-items: center
  justify-content: center
  background: rgba(255, 255, 255, 0.2)
  cursor: pointer
  user-select: none
  img
    height: 50%
.swiper-action-basic.swiper-prev
  left: 2%
  img
    margin-right: 5%
.swiper-action-basic.swiper-next
  right: 2%
  img
    margin-left: 5%

// Estado desabilitado del boton de accion
.swiper-action-basic.swiper-button-disabled
  opacity: 0.8
  cursor: auto
  img
    opacity: 0.5

.swiper-collections
  .swiper-wrapper
    .swiper-slide
      position: relative
      text-decoration: none
      color: colors.$gray-light
      border-radius: 20px
      overflow: hidden
      height: 30vw

      .swiper-slide-image
        z-index: 1
        width: 100%
        height: 100%
        object-fit: cover
        transition: all .2s

      .swiper-slide-content
        position: absolute
        top: 0
        padding: 4vh 4vh
        width: calc(100% - 8vh)
        height: calc(100% - 8vh)
        z-index: 2
        display: flex
        flex-direction: column
        justify-content: flex-end
        background-color: rgba(0, 0, 0, 0.4)
        .swiper-slide-title
          font-size: 3.6rem
          font-weight: 600
          margin-bottom: 10px
        .swiper-slide-text
          font-size: 1.8rem
          font-weight: 300

      &:hover
        .swiper-slide-image
          transform: scale(1.08)

.swiper-popular-contain
  .swiper-popular
    .swiper-wrapper
      .swiper-slide
        text-decoration: none
        color: colors.$light
        .swiper-slide-image
          width: 100%
          height: 16vw
          border-radius: 20px
          overflow: hidden
          img
            width: 100%
            height: 100%
            object-fit: cover
            transition: all .2s
        .swiper-slide-content
          margin: 2rem 0
          .swiper-slide-title
            font-size: 2.4rem 
            margin-bottom: 5px
          .swiper-slide-text
            display: flex
            align-items: center
            font-size: 1.9rem
            color: #FFFFFF80
            span
              height: 2px
              border-radius: 4px
              width: 5rem
              margin: 0 2rem
              background-color: #FFFFFF80
        &:hover
          .swiper-slide-image
            img
              transform: scale(1.1)

.explore-stories-contain
  .explore-stories
    display: flex
    flex-wrap: wrap
    gap: 20
    .explore-card
      width: 24%
      height: 12.6vw
      margin: 1rem .5%
      border-radius: 20px
      overflow: hidden
      .explore-image
        width: 100%
        height: 100%
        object-fit: cover
        transition: all .2s
      &:hover
        .explore-image
          transform: scale(1.1)
  .section-basic-footer
    width: 100%
    display: flex
    justify-content: center
    margin-top: 5vh
